@media (max-width: 1300px) {}
@media (max-width: 1024px) {
        html{
        width: 100%;
        height: 100%;
    }

    .container-fulid{
        padding: 35px 80px 0px 80px;
    }

    .Topic_Welcome{
        padding: 40px 80px 0px 80px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    .Partner_Section{
        padding: 0px 20px 0px 20px;
    }
    .img-google{
        width: 150px;
    }
    .img-microsoft{
        width: 140px;
    }
    .img-airbnb{
        width: 140px;
    }
    .img-facebook{
        width: 140px;
    }
    .img-spotify{
        width: 140px;
    }

    /* Feature Section */

    .Features_Section{
        padding: 0px 30px 0px 30px; 
    }
    .box1{
        padding: 0px 15px;
        margin-top: 50px;
    }
    .Features_Section2{
        padding: 0px 30px 0px 30px; 
    }
    .box2{
        padding: 0px 15px;
        margin-top: 120px; 
    }

    /* Team Section */

    .Team_Section{
        padding: 0px 30px 0px 30px; 
    }
    .card1{
        width: 210px;
        height: 300px;
    }
    .peg{
        left: 10px;
    }
    .Peggy{
        width: 190px;
        padding-right: 20px;
    }
    .Card2_Section{
        padding-left: 0px;
    }
    .card2{
        width: 210px;
        height: 300px;
    }
    .richard{
        left: 10px;
    }
    .Rich{
        width: 190px;
        padding-right: 20px;
    }
    .Card3_Section{
        padding-left: 0px;  
    }
    .card3{
        width: 210px;
        height: 300px;
    }
    .alexandra{
        left: 10px;
    }
    .Alex{
        width: 190px;
        padding-right: 20px;
    }
    .card4{
        width: 210px;
        height: 300px;
    }
    .janet{
        left: 10px;
    }
    .Janet{
        width: 190px;
        padding-right: 20px;
    }
    .Footer_Index{
        padding-left: 38px;
        padding-right: 0px;
    }

    /* portfolio */

    .Start_Section{
        padding-bottom: 30px;
    }
    .Portfolio_Section{
        padding: 0px 20px 0px 20px;
    }
    .Work_Section{
        padding: 0px 20px 0px 20px;
    }
    .Work_Poster{   
        margin: 0;
        padding-bottom: 10px;
    }
    .example1{
        max-width: 100%;  
        bottom: 42px;
        left: 10px; 
    }
    .example2{
        max-width: 100%;   
        bottom: 42px;
    }
    .example3{
        max-width: 100%;
        bottom: 42px;
        left: 10px; 
    }
    .example4{
        max-width: 100%;
        bottom: 42px;
    }
    .example5{
        max-width: 100%;
        bottom: 42px;
        left: 10px; 
    }
    .example6{
        max-width: 100%;
        bottom: 42px;
    }
    .example7{
        max-width: 100%;
        bottom: 42px;
        left: 10px; 
    }
    .example8{
        max-width: 100%;
        bottom: 42px;
    }
    .Footer_Portfolio{
        padding-left: 38px;
        padding-right: 0px;
    }

    /* Our Services */

    .Services_Header{
        padding-bottom: 30px;
    }
    .Services_Section{
        padding: 0px 20px 0px 20px;
    }
    .OurServices_Section{
        padding: 0px 20px 0px 31px;
    }
    .basic-services{
        max-width: 100%;
    }
    .plus-services{
        max-width: 100%;
    }
    .pro-services{
        max-width: 100%; 
    }
    .Footer_Services{
        padding-left: 38px;
        padding-right: 0px;
    }
    .Padding_Services{
        padding-top: 40px;
        padding-bottom: 308px;
    }

    /* Contact us */
    .Contact_Header{
        padding-bottom: 30px;       
    }
    .Contact_Section{
        padding-left: 50px;
    }
    .Inform_Section{
        padding: 0px 20px 0px 31px;
    }
    .Inform_box form {
        width: 100%;
    }
    .Inform_box input{
        width: 100%;
    }
    .SubmitBox .Submit{
        width: 100%;
    }
    .map iframe{
        width: 450px;
    }
    .Footer_Contact{
        padding-left: 38px;
        padding-right: 0px;
    }
    .Padding_Contact{
        padding-top: 40px;
        padding-bottom: 391px;
    }
}   



@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 400px) {}

@media (max-width: 375px) {

    /* Header */

    .container-fulid{
        padding: 2px 20px 0px 20px;
    }  
    .Logo_Start{
        width: 45px;
        height: 31px;
    }
    .navbar-brand{
        position: relative;
        right: 65px;
    }
    
    .navbar-nav{
        text-align: center;    
    }
    .Teamwork_3{
        margin-bottom: 30px;
    }

    /* Hero Section */

    .Topic_Welcome{
        padding: 0px 20px 0px 20px;
    }
    .Topic_Welcome .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .Padding_Hero{
        padding-top:  20px !important;
    }
    .h1{
        font-weight: 700 !important;
        font-size: 28px !important;
        line-height: 35px !important;
        position: relative;
        bottom: 15px;
        margin: 0%;
    }
    .text1{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        margin-top: 0px;
        color: #FFFFFFBF;
    }
    .explore{
        width: 170px;
        height: 48px;
        padding-top: 10px;
    }
    /* Partner */
    .Padding_Partner{
        padding-top: 22px !important;
    }

    .image_Partner{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
    }
    .img-microsoft{
        width: 200px;
        height: 49px;
    }
    .img-airbnb{
        width: 160px;
        height: 50px;
    }
    .img-facebook{
        width: 190px;
        height: 36px;
    }
    .img-spotify{
        width: 160px;
        height: 47px;
    }

    /* Feature Section */

    .Features_Section{
        padding: 0px 20px;
    }
    .topic2{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .box1{
        margin-top: 30px;
    }

    /* Feature Section 2 */

    .Features_Section2{
        padding: 0px 20px;
    }
    .topic3{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .box2{
        margin-top: 30px;
    }

    /* Team_Section */

    .Team_Section{
        padding: 0px 20px;
    }
    .topic4{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .Card1_Section{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .card1{
        width: 279px;
        height: 299px;
    }
    .peg{
        align-items: center;
        padding-left: 45px;
    }
    .Card2_Section{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-right: 29px;
    }
    .card2{
        width: 279px;
        height: 299px;
    }
    .richard{
        align-items: center;
        padding-left: 45px;
    }
    .Card3_Section{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-right: 29px;
    }
    .card3{
        width: 279px;
        height: 299px;
    }
    .alexandra{
        align-items: center;
        padding-left: 45px;
    }
    .Card4_Section{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-right: 17px;
    }
    .card4{
        width: 279px;
        height: 299px;
    }
    .janet{
        align-items: center;
        padding-left: 45px;
    }

    /* Footer */
    .Footer_Index{
        padding: 0px 10px;
    }
    .logo{
        display: flex;
        align-items: center;
        padding-left: 50px;
        gap: 20px;
        padding-top: 10px;
    }
    .Yeartext{
        padding-top: 30px;
        padding-right: 15px;
    }








  }

    
  
  

@media (min-width: 1200px) {}