@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Work Sans';
  src: url('/font/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
}

header .navbar-brand {
  font-size: 1.8rem;
}

section h1 {
  font-size: 2.5rem;
}

section p {
  font-size: 1rem;
  margin-bottom: 20px;
}
/* Header */
.headertop{
  background-color: #74c69d;
  color: white;
}
.navbar-nav{
    gap: 30px;
}
/* Hero Section*/
.Heroblackground{
  background-color: #74c69d;
}
.text-uppercase{
  font-family: 'Works sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  height: 40px;
}
.h1.fw-bold{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;    
}
.text1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18.75px;
  padding: auto;
  margin-top: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.486);
}
.explore{
  font-family: 'Works sans',sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

}
/* Partner Section */

.topic1{
  font-family: 'Crimson Text', sans-serif;
  size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  color: black;
}
.Partners{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #74c69d;
}
.text2{
  font-family: 'Works sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
}
.LearnMore1{  
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
  
}

/* Features Section  */

.box1{
  width: 100%;
  padding-right: 15px;
  padding-left: 68px;
  padding-top: 90px;
}
.topic2{
  font-family: 'Crimson Text', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: black;
}
.text3{
  font-weight: 400;
  font-size: 15px;
  line-height: 18.75px;
  padding: auto;
  margin-top: 15px;
  color: #21252980
}
.LearnMore2{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
}

.box2{  
  width: 100%;
  padding-right: 15px;
  padding-top: 150px;
}
.topic3{
  font-family: 'Crimson Text', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: black;
}
.text4{
  font-weight: 400;
  font-size: 15px;
  line-height: 18.75px;
  padding: auto;
  margin-top: 15px;
  color: #21252980
}
.LearnMore3{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
}

/* Team Section */

.Team{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #74c69d;
}

.topic4{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #212529;
}

.text5{
  font-family: 'Works sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
}

/* Card 1 */

.card1{
  border-radius: 5px;
  box-shadow: 3px 4px 12px 1px #00000040;
  width: 279px;
  height: 299px;
  gap: 0px;
  opacity: 0px;

}
.Peggy{
  width: 175px;
  height: 175px;
}
.peg{
  position: relative;
  width: 202px;
  height: 260px;
  top: 20px;
  left: 38px;
}
.titlePeg{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
  color: #212529;
}
.TextPeg{
  position: relative;
  width: 202px;
  height: 66px;
  top: 19px;
}

/* Card 2 */

.card2{
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 4px 12px 1px #00000040;
  width: 252px;
  height: 299px;
  left: 14px;
}
.Rich{
  width: 175px;
  height: 175px;
  border: 1px;
}
.richard{
  position: relative;
  width: 202px;
  height: 260px;
  top: 20px;
  left: 25px;
}
.titleRichard{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
  color: #212529;
}
.TextRichard{
  position: relative;
  width: 202px;
  height: 66px;
  top: 19px;
}
/* Card 3 */

.card3{
  position: relative;
  border-radius: 5px;
  box-shadow: 3px 4px 12px 1px #00000040;
  width: 252px;
  height: 299px;
  left: 12px;
}
.Alex{
  width: 175px;
  height: 175px;
  border: 1px;
}
.alexandra{
  position: relative;
  width: 202px;
  height: 260px;
  top: 20px;
  left: 25px;
}
.titleAlex{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
  color: #212529;
}
.TextAlex{
  position: relative;
  width: 202px;
  height: 66px;
  top: 19px;
}

/* Card 4 */

.card4{
  border-radius: 5px;
  box-shadow: 3px 4px 12px 1px #00000040;
  width: 252px;
  height: 299px;
}
.Janet{
  width: 175px;
  height: 175px;
  border: 1px;
}
.janet{
  position: relative;
  width: 202px;
  height: 260px;
  top: 20px;
  left: 25px;
}
.titleJanet{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
  color: #212529;
}
.TextJanet{
  position: relative;
  width: 202px;
  height: 66px;
  top: 19px;
}
/* btn ViewTeam */
.Viewteam{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
}

/*Footer Section */
.footerblackground{
  background-color: #74c69d;
}

.logo{
  width: 242px;
  height: 18px;
  letter-spacing: 10px;
  padding-right: 18px;
  padding-top: 15px
}

.Yeartext{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

/* Portfolio */

.Works{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #74c69d;
}

.Portfolio{
  font-family: 'Crimson Text',sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.topic5{
  font-family: 'Crimson Text', sans-serif;
  size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  color: black;
}

.text5{
  font-family: 'Works sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
}
/* Work Poster */
.example1{
  position: relative;
  right: 20px;
}
.example2{
  position: relative;
  left: 12px;
}
.example3{
  position: relative;
  right: 20px;
}
.example4{
  position: relative;
  left: 12px;
}
.example5{
  position: relative;
  right: 20px;
}
.example6{
  position: relative;
  left: 12px;
}
.example7{
  position: relative;
  right: 20px;
}
.example8{
  position: relative;
  left: 12px;
}
/* button */

.LearnMore4{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
}
