@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Work Sans';
  src: url('/font/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
}

header .navbar-brand {
  font-size: 1.8rem;
}

section h1 {
  font-size: 2.5rem;
}

section p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.navbar-brand{
  color: white;
}
.navbar-nav{
    gap: 30px;
}
.text-uppercase{
  font-family: 'Works sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  height: 40px;
}
.h1.fw-bold{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;    
}
.text1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18.75px;
  padding: auto;
  margin-top: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.486);
}
.explore{
  font-family: 'Works sans',sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

}
/* Partner Section */

.topic1{
  font-family: 'Crimson Text', sans-serif;
  size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  color: black;
}
.Partners{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #74c69d;
}
.text2{
  font-family: 'Works sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
}
.LearnMore1{  
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
  
}

/* Features Section  */

.box1{
  position: absolute;
  right: 410px;
  top:  1130px;

}
.topic2{
  font-family: 'Crimson Text', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: black;
  line-height: 38px;
}
.text3{
  font-weight: 400;
  font-size: 15px;
  line-height: 18.75px;
  padding: auto;
  margin-top: 15px;
  line-height: 20px;
  color: #21252980
}
.LearnMore2{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
}
.sit{
  position: relative; 
  right: 80px;
  display: flex;
  flex-direction: row-reverse;
}
.box2{
  position: absolute;
  top: 1670px;
}
.topic3{
  font-family: 'Crimson Text', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: black;
  line-height: 38px;
}
.text4{
  font-weight: 400;
  font-size: 15px;
  line-height: 18.75px;
  padding: auto;
  margin-top: 15px;
  line-height: 20px;
  color: #21252980
}
.LearnMore3{
  width: 170px;
  height: 48px;
  border-radius: 5px;
  font-family: 'Works sans' sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding: 10px 10px;
  background-color: #212529;
}

/* Team Section */

.Team{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: center;
  color: #74c69d;
}

.topic4{
  font-family: 'Crimson Text', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #212529;
}

.text5{
  font-family: 'Works sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 2px;
}
